<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



    <style>

        a, a:hover, a:focus, a:active {
            text-decoration: none;
            color: inherit;
        }

        table,th, tr{
            border-style: solid;
        }

        body{
            background-color: #bfc9c8;
        }
        #map {
            border-style: solid;
            width: 50%;
            float: right;
            height: 700px;
        }
            th,tr,td{
                text-align: center;
            }


    </style>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>

    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"
    />
</head>
<body>

<div id="orderList">

    <table>

        <tr>
            <th>Id</th>
            <th>Imie</th>
            <th>Nazwsiko</th>
            <th>Adres</th>
            <th>Mieszkanie</th>
            <th>Numer telefonu</th>
            <th>Cena</th>
            <th>Miasto</th>
            <th>Delivered</th>
            <th>Finish</th>

        </tr>



            <tr th:each="p : ${GetOrder}">
                <td th:text="${p.getOrderId()}"></td>
                <td th:text="${p.getName()}"></td>
                <td th:text="${p.getSecondName()}"></td>
                <td th:text="${p.getAddress()}"></td>
                <td th:text="${p.getApartment()}"></td>
                <td th:text="${p.getPhoneNumber()}"></td>
                <td th:text="${p.getOrderPrice()}"></td>
                <td th:text="${p.getCity()}"></td>

                <td>
                    <span style="color: green" th:if="${p.getStatus() == '1'}">Delivered</span>

                    <span style="color: red"  th:if="${p.getStatus() == '0'}">NotDelivered </span>

                </td>
                <td>

                    <a th:href="@{/managment/order/{getOrderId}(getOrderId = ${p.getOrderId()})}">Click!</a>

                </td>

            </tr>
        </table>
</div>


<div id="map"></div>



<script>

    var map = L.map( 'map', {
        center: [ 51.5, -0.1], // CAREFULL!!! The first position corresponds to the lat (y) and the second to the lon (x)
        zoom: 12
    });

</script>

<script th:inline="javascript" th:each="orders : ${GetOrder}">
    // Initialize map to specified coordinates

    // Add tiles (streets, etc)
    L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        subdomains: ['a','b','c']
    }).addTo( map );
    var city_addr = [[${orders.getCity()}]];

    var query_addr =  [[${orders.getAddress()}]]+ ", " + city_addr + " ";


    // Get the provider, in this case the OpenStreetMap (OSM) provider.
    var provider = new window.GeoSearch.OpenStreetMapProvider()
    // Query for the address
    var query_promise = provider.search({ query: query_addr});
    // Wait until we have an answer on the Promise
    query_promise.then( value => {
        for(i=0;i < value.length; i++){
            // Success!
            var clientName = [[${orders.getName()}]];
            var clientSecondName = [[${orders.getSecondName()}]];
            var clientPhoneNumber = [[${orders.getPhoneNumber()}]];
            var orderStatus = [[${orders.getStatus()}]];
            var x_coor = value[i].x;
            var y_coor = value[i].y;
            var label = value[i].label;
            // Create a marker for the found coordinates
            if(orderStatus=="0") {
                var marker = L.marker([y_coor, x_coor]).addTo(map)
                marker.bindPopup("<b>Found location</b><br>"+label + " IMIE: " + clientName + " NAZWISKO " + clientSecondName + " NUMER TELEFONU: " + clientPhoneNumber ).openPopup();
                // CAREFULL!!! The first position corresponds to the lat (y) and the second to the lon (x)
            }
            if(orderStatus=="1") {
                var marker = L.marker([y_coor, x_coor]).addTo(map)
                marker.bindPopup("<b>Found location</b><br>"+label + " IMIE: " + clientName + " NAZWISKO " + clientSecondName + " NUMER TELEFONU: " + clientPhoneNumber + "ZAKONCZONE" ).openPopup();

            }
                // Add a popup to said marker with the address found by geosearch (not the one from the user)
        };
    }, reason => {
        console.log(reason); // Error!
    } );

</script>

</body>
</html>